# Godot-specific ignores
.godot/
*.tmp
*.log
*.import

# Build and Tooling
build/
installer/*.exe
installer/*.pck
installer/*.zip
installer/Dark_Realm_Setup/
tools_and_temp/
video Recording/
scratch/
tmp/

# System-specific
.DS_Store
Thumbs.db
